body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("./images/grad.jpeg");
  background-size: 100% 100%;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}
.brand {
  color: white !important;
  font-family: 'Abel', sans-serif;
  padding-left: 15px !important;
}

.header {
  background-color: midnightblue;
}

.moon-logo{
  margin-top: 30px;
}

#first-time{
  color: grey;
}

.form{
  margin-top: 50px;
  background-color: white;
  color: midnightblue;
}

.button-color{
  background-color: midnightblue;
}
